<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="relative bg-gray-900 font-sans leading-normal text-gray-100 overflow-hidden">
    <div class="absolute inset-0 z-0 bg-[radial-gradient(circle,_rgba(255,255,255,0.03)_1px,_transparent_1px)] [background-size:20px_20px]"></div>
    <div class="absolute -top-32 -left-32 w-[500px] h-[500px] bg-indigo-500 opacity-30 rounded-full blur-[120px] animate-pulse-slow z-0"></div>
    <div class="relative z-10 mx-auto px-4 lg:min-h-screen flex flex-col items-center justify-center">
        {{ template_content }}
    </div>
</body>
</html>
